# Byte-compiled / optimized / DLL files
__pycache__/
outputs/
*.py[cod]
*$py.class
.idea/
*.pyc
*.tar
*.pth
.DS_Store
model_weights/
data/
*.MOV
*.avi
models/retina_mean.npy
models/unigram5000.model
models/unigram5000_units.txt
model_store/