torch>=1.6.0
torchaudio>=0.6.0
torchvision
numpy
sentencepiece
scikit-image
av
ffmpeg-python
fastapi
uvicorn
python-multipart
strsimpy

# OpenTelemetry (GCP exporters)
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-exporter-gcp-monitoring
google-cloud-trace
google-cloud-monitoring